.photo {
  float: left;
  width: 200px;
  height: 200px;
  border: 1px dashed #cccccc;
  margin-top: 10px;
  background-size: contain;
  /*cover is a property too*/
  background-repeat: no-repeat; }

.selected {
  border: 1px solid red; }
