.row
  .small-12.columns
    %h1 Integration Testing
.row
  .small-3.columns
    %input#op1{type: 'text', placeholder: 'enter #'}
  .small-3.columns
    %input#operator{type: 'text', placeholder: 'enter operator'}
  .small-3.columns
    %input#op2{type: 'text', placeholder: 'enter #'}
  .small-3.columns
    %input#calculate.button.radius.success{type: 'button', value: 'CALC'}
.row
  .small-12.columns
    %h3#result
.row
  .small-6.small-offset-6.columns
    %ul#history
.row
  .small-3.columns
    %input#sum-button.button.radius{type: 'button', value: 'Sum'}
  .small-3.columns
    %h3#sum
  .small-3.columns
    %input#product-button.button.radius{type: 'button', value: 'Product'}
  .small-3.columns
    %h3#product
.row
  .small-3.columns
    %input#negative.button.radius{type: 'button', value: 'Remove Negative'}
  .small-3.columns
    %input#positive.button.radius{type: 'button', value: 'Remove Positive'}
  .small-6.columns

