html, body, #left, #map-canvas {
  height: 100%; }

body {
  background-color: #252525; }

#left, #right {
  float: left; }

#left {
  width: 90%; }

#map-canvas {
  width: 100%; }

#right {
  width: 10%;
  padding-top: 10px; }
