doctype 5
html
  head
    title Cats
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My cat page
    p Welcome to Node
    img(src='http://4.bp.blogspot.com/-MzZCzWI_6Xc/UIUQp1qPfzI/AAAAAAAAHpA/OTwHCJSWFAY/s1600/cats_animals_kittens_cat_kitten_cute_desktop_1680x1050_hd-wallpaper-753974.jpeg')