doctype 5
html
  head
    title Dogs
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    h1 My dog page
    p Welcome to Node
    img(src='http://nodogaboutit.files.wordpress.com/2012/10/j04310181.jpg')