.row
  .small-3.columns
    %input#school{type: 'text', placeholder: 'school name?'}
  .small-3.columns
    %input#length{type: 'text', placeholder: 'school length'}
  .small-3.columns
    %input#width{type: 'text', placeholder: 'school width'}
  .small-3.columns
    %input#add-school.button.radius{type: 'button', value: 'Add School'}
.row
  .small-2.columns
    %input#student{type: 'text', placeholder: 'student name?'}
  .small-2.columns
    %input#gpa{type: 'text', placeholder: 'student gpa?'}
  .small-2.columns
    %select#pick-school
  .small-6.columns
    %input#add-student.button.radius.success{type: 'button', value: 'Add Student'}
.row
  .small-2.columns
    %input#subject{type: 'text', placeholder: 'subject name?'}
  .small-2.columns
    %select#pick-student
  .small-6.columns
    %input#add-subject.button.radius.success{type: 'button', value: 'Add Subject'}