@import url(http://fonts.googleapis.com/css?family=Irish+Grover);

@base: #f6f6f6;


body{
  background-color: @base;
}

#cups{
  display: none;
}

.cup{
  width: 200px;
  height: 200px;
  float: left;
  background-image: url('../images/blue_shell.png');
  background-size: 200px 200px;
  background-repeat: no-repeat;
  margin: 10px;
  // background-color: purple;
}

h1, h4{
  font-family: 'Irish Grover', cursive;
}
